<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.immanuel.flashtalk">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/lightning1"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true">
        <activity
            android:name=".RussianDialog10Activity"
            android:theme="@style/NoTitleBar"
            ></activity>
        <activity
            android:name=".RussianPrepositionalExceptionsActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianToSeeActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianDialog9Activity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianDialog8Activity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianDialog7Activity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianToWorkActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianToUseActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianImGladActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianImHungryActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianImBoredActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianINeedActivity"
            android:theme="@style/NoTitleBar" />
        <activity android:name=".RussianINeed" />
        <activity
            android:name=".RussianYouShouldActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianTheBestActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianBetterThanActivity"
            android:theme="@style/NoTitleBar" />
        <activity android:name=".RussianInANiceRestaurant1Activity" />
        <activity
            android:name=".RussianBePoliteActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianAccentsActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianTheOneActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianToGoAndReturnByVehicleActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianToGoAndReturnOnFootActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianActualAPrettyLadysHouseActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianSomethingNiceActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianWhatManWhatWomanActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianArticlesActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianDialog6Activity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianReadingAGoodBookActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianReadingHisBookActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianHisHouseHerCarActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianImStudyingActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianWhatManActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianToLiveActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianToThinkActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianToDrinkActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianToEatActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianAdjectiveExceptionActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianHowsTheWeatherActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianCountriesAndPeopleActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianDialog5Activity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianDialog4Activity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianDialog3Activity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianDialog2Activity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianLessonGamesSplashActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianActualLessonGameActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianDialogueSplashActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianDativeActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianIReadItPerfectiveActualActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianIDidItPerfectiveActualActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianISaidItPerfectiveActualActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianISaidItPerfectiveActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianTheFutureActivity"
            android:theme="@style/NoTitleBar" />
        <activity android:name=".RussianIWentOnFootActivity" />
        <activity
            android:name=".RussianIWasActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianAFewMoreActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianIDidItActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianIKnewItActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianISaidItActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianInANiceRestaurantActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianYoureTalkingAboutMyFriendActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianWhatAreYouTalkingAboutActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianIDontSeeMyFriendActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianForMyCountryActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianForAFriendActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianForMeForYouActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianImFromAmericaActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianDialog1Activity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianDialogActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianIWantToDoActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianInTheStoreActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianAFriendsHouse2Activity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianThesePeopleActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianPluralAdjectivesActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianPluralPossessivePronounsActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianPluralExceptionsActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianPluralsActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianToLikeActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianThisManThisWomanActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianToGoByVehicleActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianWhereAreYouGoingActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianToGoOnFootActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianAPrettyLadysHouseActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianMyFriendsHouseActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianAFriendsHouseActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianIHaveActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianImReadingAGoodBookActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianAPrettyWomanActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianImReadingMyBookActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianICanActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianImWatchingTVActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianAccusativeCaseActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianIWantActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianGenderActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianIDontUnderstandActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianActualGameActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianGameSelectionActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianGamesSplashActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianVocabSplash"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianVocabActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianCleanupActivity"
            android:label="Cleanup"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianPluralPronounsActivity"
            android:label="Plural Pronouns"
            android:theme="@style/NoTitleBar" />
        <activity android:name=".RecyclerViewHorizontal" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".LauncherActivity"
            android:theme="@style/NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RussianSplash"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianLanguageActivity"
            android:label="FlashTalk"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianAlphabetActivity"
            android:label="Alphabets"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RussianAlphabetPractice"
            android:label="Practice"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RussianBasicPronounsActivity"
            android:label="Basic Pronouns"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianQuestionWordsActivity"
            android:label="Question Words"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RussianBasicVerbsActivity"
            android:label="Basic Verbs"
            android:theme="@style/AppTheme" />
    </application>

</manifest>